.flex-container{
    
    display:flex;
    flex-direction:row;
    border:1px solid gray;
    height:850px;
    width:1200px;
    margin:auto;
    background-color:pink;
    
}

.error-msg
{
    color: red;
}

/*
.button{
    background-color: cadetblue;
    border: 2px solid black;
    hover:red;
}
*/

.personbox{

   
    border:0.5px solid black;
    text-align:justify;
    padding:10px;
    height:300px;
    width:550px;
    border-radius:20px;
    text-size:10px,10px,10px,10px;
    cursor: pointer;
    
}

.personbox:hover{
    background-color: silver;
    color:white;
}

    .thumbnail{
        
        height:150px;
        width:150px;
        
    }


.fieldset
{
    width:600;
    margin: auto;
}